table.hm {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.lst {
    width: 95%;
    display: block;
    /*background-image: linear-gradient(#ffffff,#aaffaa 100%);*/
    padding:3px;
    font-size: 14px;
    margin: auto;
}

.lcs{
    color:black;
    font-size:11pt;
    padding:0;
    margin: 0;
}

.ctnritm {
    background: rgba(255,255,255,0.5) !important;
    backdrop-filter: saturate(180%) blur(10px);
    padding: 10px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #888888;
    width: 100%;
    margin: auto;
}

.h_col_1{
    vertical-align:text-top;
    width:40px;
    margin: auto;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight:bold;
    font-size: 15px;
}

.tbl_h{
    width: 100%;
    display: block;
    margin: auto;
}

.tth{
    text-align: center;
    font-size: 18px;
}

.ttl_h{
    width:100%;
    margin: auto;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    color: #880088;
    font-weight: bold;
    font-size: 14px;
}

auth{
    color:#007700 !important;
    text-shadow: 1px 1px #000000;
    font-weight: bold !important;
    font-size: 15pt;
}

.auth_h{
    width:100%;
    margin: auto;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    color: #004400;
    font-weight:bold;
    font-size: 15px;
}

.hrttl_h {
    text-decoration: none;
    color: #000022 !important;
}
.hrttl_h:link, hrttl_h:visited {
    color: #000022 !important;
}
.hrttl_h:hover {
    color: #FF0000 !important;
}

details > summary {
    display: block;
    float: left;
    width: 100%;
    background-image: linear-gradient(#903,#401 50%,#935 100%);
    padding: 2px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ffffff;
    font-weight: 600;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; transform: translateX(-10px)}
    100%  {opacity: 1; transform: translateX(0)}
  }
  
.drpdwn {font-size: 20;font-weight: bold;margin: 5px;}
.ddbr{margin: auto;width:95%;padding-bottom: 40px;}
@media (min-width: 768px){.ddbr{width:75%}.ttl_h{font-size: 18px;}}

details{padding-bottom: 10px;}