body {
    background-image: linear-gradient(#88ff88, #ffffaa, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px; 
}

.lgo{
    width:400px; 
    margin: auto; 
    padding-bottom: 15px;
    padding-top: 35px;
}
@media only screen and (max-width: 885px) {
    .lgo {
        padding-top: 55px;
    }
}
@media only screen and (max-width: 470px) {
    .lgo {
        padding-top: 75px;
    }
}

.header_1{
    vertical-align: middle;
    display: flex;
    width:100%;
    background-image: linear-gradient(#222222,#000000 50%,#555555 100%);
    padding: 6px;
    position: fixed;
    z-index: 1000;
}

.tb{
    color:#ffffff !important;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    margin:0;
}

.footer_containear {
    display: block;
    width: 100%;
    margin: auto;
    padding: 30px;
    background: url(../images/footer_bg.jpg) center center no-repeat;
    background-size: cover;
}

.ft1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
}

.ft2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff00;
    font-weight:600;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.p1 {text-decoration: none; font-size: 14px;}
.p1:link {text-decoration: none;}
.p1:hover {color:#22ff22;}
.p1:active {color: #00ff00; text-shadow: 2px 2px 5px #ffaaff;}

.p2 {color:#ffffff; text-decoration: none; font-size: 14px;}
.p2:link {text-decoration: none;}
.p2:hover {color:#22ff22;}
.p2:active {color: #00ff00; text-shadow: 2px 2px 5px #ffaaff;}

.p3 {color:#000000; text-decoration:none; font-size: 10px;}
.p3:link {color:#000000;text-decoration: none;}
.p3:hover {color:#ff0000;}

.footer{
    display: block;
    float: left;
    width: 100%;
    background: #0061B2;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    color: #FFF;
}

.glry{
    width: 500px;
    min-width: 60%;
    margin: auto;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.29);
}

.crl{
    text-shadow: 0pt 0pt 5pt #000000,0pt 0pt 5pt #000000,0pt 0pt 5pt #000000;
    color:#99ff99;
    font-weight:500;
}

.nbrd{
    padding:10px;
    background: rgba(200,200,255,0.5) !important;
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.29);
    height:300px;
    border-radius: 10px;
}

.mnu_h1,.mnu_h2{
    text-align: center;
    padding-left:5px;
    color:#550000;
    text-shadow: 0 0 7px #ffffff,0 0 7px #ffffff,0 0 7px #ffffff,0 0 7px #ffffff;
    font-weight: 500;
    font-size:15pt;
}

.mnu_b{
    text-align: left;
    margin: auto;
    padding-top:5px;
    width:90%;
    height:80%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5) inset;
    color:#000000;
    font-size:10pt;
}

.tbllst{
    padding:5px; 
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tbllst::-webkit-scrollbar {  /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
  }

.seemore{
    float:right;
    z-index:10;
    padding-right: 10px;
    padding-top: 2px;
    font-size: 11pt;
}