body {
    background-image: linear-gradient(#ddddee, #eeeeff, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px; 
	font-family: 'Merriweather', serif;
	overflow-x: hidden !important;
}
#header {
    float: left;
    display: inline;
    width: 100%;
    background-color: #313b3d;
    position: fixed;
    z-index: 10000;
}
.frst3 {padding-top: 80px;padding-bottom: 60px;background-color: transparent;}
.aboutUs {padding-top: 80px;padding-bottom: 60px;display: block;width: 100%;margin: auto;background: url(../images/aboutus_bg.jpg) center center no-repeat;background-size: cover;}
.sec_ugpgproj {padding-top: 80px;padding-bottom: 60px;display: block;width: 100%;margin: auto;background: url(../images/ugpgbg_w.jpg) center center no-repeat;background-size: cover;}
.menu_area {
  float: left;
  display: inline;
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link {color: #fff;}
.navbar-bg {
    background-color:#b30022;
    border-color: transparent;
	box-shadow:0 5px 10px #fff;
}
.nav-link, .dropdown-item{
    color:#fee;
    font-weight: bold;
    font-size: 20;
    opacity: 1;
	text-shadow: -1px -1px #000,1px 1px #000;
}
.active{
    color:#fff !important;
    font-weight: 600;
    text-shadow: 0px 0px 6px #555;
}
.dropdown-item:active,.dropdown-item:hover,.nav-item:hover,.navbar-nav:hover .nav-link:hover{
    color:#fff !important;
	background-color:transparent !important;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius:50%;
}
.carousel-dark .carousel-indicators [data-bs-target]{background-color:white;}
.crsl_w{display: block;}
.w-100{float:right;}








.lgo{padding: top 0 !important;width:100% !important;}

.header_1{
    vertical-align: middle;
    display: flex;
    width:100%;
    background-image: linear-gradient(#222222,#000000 50%,#555555 100%);
    padding: 6px;
    position: fixed;
    z-index: 1000;
}

.tb{
    color:#ffffff !important;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    margin:0;
}

.footer_containear {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 30px;
	padding-bottom: 30px;
    background: url(../images/footer_bg.jpg) center center no-repeat;
    background-size: cover;
}

.ft1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
}

.ft2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff00;
    font-weight:600;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.p1 {text-decoration: none; font-size: 14px;}
.p1:link {text-decoration: none;}
.p1:hover {color:#eeffaa;}
.p1:active {color: #eeffaa; text-shadow: 2px 2px 5px #ffaaff;}

.p2 {color:#ffffff; text-decoration: none; font-size: 14px;}
.p2:link {text-decoration: none;}
.p2:hover {color:#22ff22;}
.p2:active {color: #00ff00; text-shadow: 2px 2px 5px #ffaaff;}

.p3 {color:#000000; text-decoration:none; font-size: 15px;}
.p3:link {color:#000000;text-decoration: none;}
.p3:hover {color:#dd0033;}

.glry{
	display:inline-block;
	width:100%;
    padding-top: 70px;
    height: 500px;
    margin: auto;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.29),0px 5px 16px 0px rgba(0,0,0,0.29);
}
.nbrd_width{min-width:400px !important;padding-top: 20px;margin-left:auto;margin-right:auto;}
.col-sm{min-width:350px;max-width:450px !important;padding-top: 20px;margin-left:auto;margin-right:auto;}
.nbrd_width{min-width:350px;}
.nbrd_w{
    padding:10px;
    background: rgba(255,255,255,0.4) !important;
    backdrop-filter: blur(10px),brightness(200%);
	-webkit-backdrop-filter: blur(10px),brightness(200%);
    box-shadow: 2px 5px 16px 0px rgba(255,255,255,0.29);
    border-radius: 10px;
	color:white;
	font-weight:200;
	text-shadow:0 0 2px #000;
    border: #ffffff63 solid 2px;
}

.nbrd{
    padding:10px;
    background: rgba(255,255,255,0.5) !important;
    backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
    box-shadow: 2px 5px 25px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    border: #ffffff63 solid 2px;
}

.ugpgbrd{
    height:500px;
	padding-top:40px;
}

.mnu_h1,.mnu_h2{
    font-size: 20pt;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-left:5px;
    color:#702;
    text-shadow: 0 0 7px #ffffff,0 0 7px #ffffff,0 0 7px #ffffff,0 0 7px #ffffff;
}

.mnu_b{
    text-align: left;
    margin: auto;
    padding-top:5px;
    width:90%;
    height:80%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5) inset;
    color:#000000;
    font-size:10pt;
}

.tbllst{
    padding:5px; 
    padding-top:30px;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tbllst::-webkit-scrollbar {  /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
	width: 0;
    height: 0;
  }

.seemore{
    float:right;
    z-index:10;
    padding-right: 10px;
    padding-top: 2px;
    font-size: 11pt;
	font-weight: bold;
}
.crlu{
    text-shadow: 0pt 0pt 10pt #000000,0pt 0pt 10pt #000000,0pt 0pt 10pt #000000;
    color:#ddd !important;
    font-weight:bold !important;
    font-size: 22pt;
    z-index: 1005;
    position: sticky;
}
.crld{
    text-shadow: 0pt 0pt 5pt #000000,0pt 0pt 5pt #000000,0pt 0pt 5pt #000000;
    color:#fff !important;
    font-weight:bold ! ;
    font-size: 16pt;
    z-index: 1005;
    position: sticky;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela', sans-serif;
}
h2{
    font-size: 20pt;
    font-weight: bold;
    color:#702;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    text-shadow: 0 0 7px #ffffff,0 0 7px #ffffff,0 0 7px #ffffff,0 0 7px #ffffff;
}
h3{font-size: 16pt;font-weight: bold;color: #bbb;}
h6{font-size: 12pt;font-weight: bold;color: #fff;margin-top: 0;margin-bottom: 0;padding-left:0;padding-top: 4px;}
p.pra{text-align: justify;}
.footer_social{
    color: #fff;
    display: inline-flex;
    padding: 0 10px;
    list-style-type: none;
}
.soc_tooltip{
    font-size: 22px;
    padding-right: 20px;
    color: white;
}
.navbar-brand{padding-left: 10px !important;}
@media (min-width: 768px){.navbar-brand{padding-left: 50 !important;}.lgo{width:auto !important;height: 65px !important;padding-left:0px;}.govrlp{display: block !important;}.govrlp_1{display: block !important;}.govrlp_2{display: block !important;}.glry{height:auto !important;width:100% !important;}}
@media (min-width: 1100px){.lgo{width:auto !important;height: 75px !important;padding-left:20 !important;}}
@media (max-width: 767px){.w-100{height:100%;width:fit-content !important;margin:0 auto !important}.nbrd_w{width:100% !important;}.nbrd{width:100% !important;}.brd2{width:100% !important;}.flogo{width:80% !important;}.row>*{padding-left:0 !important;padding-right:0 !important;}.nbrd_width{min-width:100% !important;}}
.brd3{height:500px;min-width: 300px !important}
.h2abtus{padding-left:10px;padding-top:15px}
.flogo{padding:0;width:400px;}
.footer{
    display: block;
    float: left;
    width: 100%;
    background-color: #b30022;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    color: #FFF;
}
.footer-container-outer {
    -ms-transform: skewY(-2.5deg);
    -moz-transform: skewY(-2.5deg);
    -webkit-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
    border-top: calc(1.33rem * 2) solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: calc(2.66rem);
}
.footer-accent-triangle_1{background-color: rgba(255,255,255,0.3);border: white 1px;position: absolute;bottom: 0px;width: 100%;height: 100px;-ms-transform: skewY(0deg);-moz-transform: skewY(0deg);-webkit-transform: skewY(0deg);transform: skewY(0);clip-path: polygon(0% 100%,0% 100%, 100% 100%, 100% 100%, 100% 0%, 100% 0%);box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.29),0px 5px 16px 0px rgba(0,0,0,0.29);}

.footer-accent-triangle {background-color: #b30022;position: absolute;bottom: 0px;width: 100%;height: 70px;-ms-transform: skewY(0deg);-moz-transform: skewY(0deg);-webkit-transform: skewY(0deg);transform: skewY(0);clip-path: polygon(0% 100%,0% 100%, 100% 100%, 100% 100%, 100% 0%, 100% 0%);
}

.govrlp{  background-color: rgba(150,0,33,0.9);position: absolute;bottom: -80px;width: 100%;height: 250px;-ms-transform: skewY(0deg);-moz-transform: skewY(0deg);-webkit-transform: skewY(0deg);transform: skewY(0);clip-path: polygon(0 50%, 100% 20%, 100% 100%, 0% 80%);box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.29),0px 5px 16px 0px rgba(0,0,0,0.29);display: none;}

.govrlp_1{background-image: linear-gradient(#ffffff, #eeeeff, #ffaaff);opacity: 0.5;position: absolute;bottom: -80px;width: 100%;height: 250px;-ms-transform: skewY(0deg);-moz-transform: skewY(0deg);-webkit-transform: skewY(0deg);transform: skewY(0);clip-path: polygon(0 30%, 100% 20%, 100% 70%, 0% 100%);box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.29),0px 5px 16px 0px rgba(0,0,0,0.29);display: none;}

.govrlp_2{background-image: linear-gradient(#faf, #faa, #f0f);opacity: 0.3;position: absolute;bottom: -80px;width: 100%;height: 250px;-ms-transform: skewY(0deg);
-moz-transform: skewY(0deg);-webkit-transform: skewY(0deg);transform: skewY(0);clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 50%);box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.29),0px 5px 16px 0px rgba(0,0,0,0.29);display: none;}

.news_img{display: flex;padding-right:10px;padding-left: 5px;margin:0;width: 110px;height:60px;}
.news_txt{display: flex;padding-left: 5px;width: 80%;height:70px;}
.news_hl {color:black;text-decoration: none; font-size: 14px;}
.news_hl:hover,.news_hl:active {color:#a01;}
.news_h0 {color:#fff;font-weight:bold;text-shadow:0 0 2px #000;text-decoration: none; font-size: 14px;}
.news_h0:hover,.news_hl:active {color:#fef;text-shadow:0 0 2px #000,text-shadow:0 0 6px #a2a;}
.news_ele{width: 100%;display: inline-flex;padding-top: 5px;border-bottom: 1px solid black;overflow: scroll;-ms-overflow-style: none; scrollbar-width: none;}
.news_ele::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.b3_txt{display: inline-block;padding: 5px;width:100%;color:black;font-size:9pt;font-weight:none;text-align: justify;}
.b3_ele{width: 100%;display: inline-block;border-bottom: 1px solid rgba(0,0,0,0.3);font-weight: bold;}
.hdr_pra{font-size: 15pt !important;font-weight: bold !important;color:#702 !important;position: sticky;text-align: justify; width: 100%;text-shadow: 0 0 7px #ffffff,0 0 7px #ffffff,0 0 7px #ffffff,0 0 7px #ffffff;}
.hdr_pra_cont{display: block;width: 100%;margin: auto;padding: 30px;}
