html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
body{padding:0; margin:0;}
body, html {height: 100%; background-color:#000000; scroll-behavior: smooth;}
p {line-height: 2}
.container{
    position:relative; min-height:100%; background-position:center; background-size:cover; padding:0px; margin:0;
}
.chead{
    background-image:url("img/bg.jpg");
}
.nathead{
    background-image:url("img/nat.jpg");
}
.vlabhead{
    background-image:url("img/vlbg.jpg");
}
.center{
    position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
}
.txtbnr{
    font-size:35px; text-align:center; color:#FFFFFF;
}
.h001{
    font-size:64px; text-align:center; color:#FFFFFF; letter-spacing:20px;
}
.h002{
    font-size:64px; text-align:center; color: #FFFFFF; text-shadow: 1px 1px 2px #000000, 0 0 25px #0000FF, 0 0 5px #000088;
}
.formula{
    color:red; font:italic bold;
}
.formula1{
    font-size:35px;
}


.navdiv{
    position:fixed; width:100%; z-index:1; bottom:0;
}
.navbar{
    text-align:center; padding:8px 16px; float:left; border:none; outline:0; width:100%; overflow:hidden; display:inline-block; position:static; white-space:normal; color:#FF0000; background-color:#221133;
}
.navbar:before,.navbar:after{content:"";display:table;clear:both}
.navitem{padding:8px 16px; float:left;width:100%;border:none;display:block;outline:0;cursor:pointer;white-space:nowrap;text-decoration:none;color:#AAAAAA; background-color:#221133;}
.navitem:hover{color:#000000!important;background-color:#CCCCCC!important}


.style1 {font-weight: bold; color: #FFFFFF; text-shadow: 3px 2px 6px #000044;}
.style2 {font-weight: bold; color: #FFFFFF; text-shadow: 3px 2px 6px #000044; background-color:#000033; border-bottom:6px solid #111166; border-radius:5px; align; padding-top:5px; padding-bottom:5px}
.button {font-weight: bold; color: #FFFFFF; text-shadow: 3px 2px 6px #000044; background-color:#000033; border-radius:20px; align; padding-top:5px; padding-bottom:7px;}

.search_1{width:150px; height:30px; padding-left:15px; border-radius:6px; border:none; color:#000000; font-weight:500;background-color:#DDFFDD;
-webkit-box-shadow:
0 2px 4px 0 #BBBBBB inset,
0 -1px 1px 0 #EEEEEE inset,
0 15px 15px 0 rgba(40, 40, 40, 0.1) inset;
-moz-box-shadow:
0 2px 4px 0 #BBBBBB inset,
0 -1px 1px 0 #EEEEEE inset,
0 15px 15px 0 rgba(40, 40, 40, 0.1) inset;
box-shadow:
0 2px 4px 0 #BBBBBB inset,
0 -1px 1px 0 #EEEEEE inset,
0 15px 15px 0 rgba(40, 40, 40, 0.1) inset;
}

.search_1:focus{outline:0;}
.w3-quarter{width:24.99999%}
.w3-circle{border-radius:50%}
.w3-row{content:"";display:grid;clear:both}
.dropbtn {font-weight: bold; color: #FFFFFF; text-shadow: 3px 2px 6px #000044; background-image: linear-gradient(#000066, #5588BB); padding: 16px;font-size: 16px;text-decoration: none; border-radius:30px;}
.dropup {position: relative; display: inline-block;}
.dropup-content {display: none; position: absolute; background-color: #f1f1f1; min-width: 260px; bottom: 50px; left: -50px; z-index: 1;}
.dropup-content a {color: black; padding: 12px 25px;text-decoration: none; display: block;}
.dropup-content a:hover {background-color: #ccc}
.dropup:hover .dropup-content {display: block;}
.dropup:hover .dropbtn {background-color: #2980B9;}