{{ if (len(result)==0): }}
 {{ result=[[0,0,0]] }}
{{ endif }}
 <html>
	<head>
		<title>Output</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script type="text/javascript" id="MathJax-script" async
		  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
		<style type="text/css">
			<!--
			.tbody {margin: auto; height: 600px; width: 500; overflow-y: auto;}
			.style1 {color: #FFFFFF; font-size: 20px; font-weight: bold; font-style: italic;}
			.style2 {font-family: "Courier New", Courier, monospace;}
			-->
		</style>
	</head>
	<body>
		<div>
			<form action = "" method = "POST">
			<p>Omega =  <input type = "text" name = "omega" /></p>
			<p><input type = "submit" value = "submit" /></p>
      </form>
		</div>
		<table align="center" width="1000" border="0">
			<tr>
				<td>
					<div align="center" width="400" class="tbody">
						<table width="300" border="1" align="center">
							<tr>
								<th bordercolor="#0000FF" bgcolor="#0000FF" scope="col"><span class="style1">$$x$$</span></th>
								<th bordercolor="#0000FF" bgcolor="#0000FF" scope="col"><span class="style1">$$\left. x^2 \frac{dN}{dx} \right\vert_{had}$$</span></th>
								<th bordercolor="#0000FF" bgcolor="#0000FF" scope="col"><span class="style1">$$\left. x^2 \frac{dN}{dx} \right\vert_{lep}$$</span></th>
							</tr>
							{% for x in result %}
							 <tr>
								<td width="100" bgcolor="#FFFFFF"><span class="style2">{{ x[0] }}</span></td>
								<td width="100" bgcolor="#FFFFFF"><span class="style2">{{ x[1] }}</span></td>
								<td width="100" bgcolor="#FFFFFF"><span class="style2">{{ x[2] }}</span></td>
							 </tr>
							{% endfor %}
						</table>
					</div>
				</td>
				<td width="500">
					<canvas id="myCanvas" width="510" height="400" style="border:0;">Your browser does not support the HTML5 canvas tag.</canvas>
				</td>
			</tr>
		</table>
		<script>
			var c = document.getElementById("myCanvas");
			var ctx = c.getContext("2d");
			ctx.beginPath();
			ctx.fillStyle = "#FFFFFF";
			ctx.fillRect(0,0,510,400);
			ctx.stroke();
			
			ctx.beginPath();
			ctx.strokeStyle = "#FF1155";
			ctx.moveTo(Math.log10({{ result[0][0] }})*80+470,Math.log10({{ result[0][1] }})*-75+90);
			{% for x in result %}
				ctx.lineTo(Math.log10({{ x[0] }})*80+470,Math.log10({{ x[1] }})*-75+90);
			{% endfor %}
			ctx.stroke();
			
			ctx.beginPath();
			ctx.strokeStyle = "#00FF00";
			ctx.moveTo(Math.log10({{ result[0][0] }})*80+470,Math.log10({{ result[0][2] }})*-75+90);
			{% for x in result %}
				ctx.lineTo(Math.log10({{ x[0] }})*80+470,Math.log10({{ x[2] }})*-75+90);
			{% endfor %}
			ctx.stroke();
			
			ctx.beginPath();
			ctx.fillStyle = "#FFFFFF";
			ctx.fillRect(0,0,510,10);
			ctx.stroke();
			ctx.beginPath();
			ctx.fillRect(0,310,510,90);
			ctx.stroke();
			ctx.beginPath();
			ctx.fillRect(0,0,70,400);
			ctx.stroke();
			ctx.beginPath();
			ctx.fillRect(470,0,40,400);
			ctx.stroke();
			
			ctx.beginPath();
			ctx.fillStyle = "#000000";
			ctx.moveTo(70,10);
			ctx.lineTo(70,310);
			ctx.lineTo(470,310);
			ctx.lineTo(470,10);
			ctx.lineTo(70,10);
			ctx.strokeStyle = "#000000";
			ctx.stroke();

			ctx.font = "10px Arial";
			ctx.fillText("10", 45, 15);
			ctx.fillText("1", 45, 90);
			ctx.fillText("0.1", 45, 165);
			ctx.fillText("0.01", 45, 240);

			ctx.fillText("10", 70, 325);ctx.fillText("-5", 82, 320);
			ctx.fillText("10", 150, 325);ctx.fillText("-4", 162, 320);
			ctx.fillText("10", 230, 325);ctx.fillText("-3", 242, 320);
			ctx.fillText("10", 310, 325);ctx.fillText("-2", 322, 320);
			ctx.fillText("10", 390, 325);ctx.fillText("-1", 402, 320);
			ctx.fillText("10", 470, 325);ctx.fillText("0", 482, 320);

			ctx.beginPath();
			ctx.moveTo(90,35);
			ctx.lineTo(110,35);
			ctx.strokeStyle = "#FF1155";
			ctx.stroke();
			ctx.beginPath();
			ctx.moveTo(90,55);
			ctx.lineTo(110,55);
			ctx.strokeStyle = "#00FF00";
			ctx.stroke();
			ctx.font = "15px Times New Roman";
			ctx.fillText("Hadronic", 120,40);
			ctx.fillText("Leptonic", 120,60);
			ctx.fillText(Math.log10({{ ms }}), 260,22);
			ctx.font = "20px Times New Roman";
			ctx.fillText("10      GeV", 240,30);

			ctx.font = "italic 20px Times New Roman";
			ctx.fillText("x", 270, 350);
			ctx.rotate(-Math.PI / 2);
			ctx.fillText("x", -196, 30);
			ctx.fillText("dN/dx", -180, 30);
			ctx.font = "italic 15px Times New Roman";
			ctx.fillText("2", -188, 25);

		</script>


</body>
</html>
